@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

* {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Tahoma, 'PingFang SC', Roboto,
        Microsoft Yahei, 'Microsoft Jhenghei', Arial, 'Hiragino Sans GB', 'sans-serif',
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

*:not(input):not(textarea) {
    user-select: none;
}

html {
    margin-top: 0 !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-text-size-adjust: none !important;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

input {
    outline: none;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    display: none;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
    box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
}

/** 单行文本加省略号  **/
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/** 2行文本加省略号  **/
.text-ellipsis-multiple {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/** 3行文本加省略号  **/
.text-ellipsis-multiple_3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
